:root{
    --app-86CFD9: #86CFD9;
    --app-274248: #274248;
    --app-FFFFFF: #FFFFFF;
    --app-FEAE3F: #FEAE3F;
    --app-FAFAFD: #FAFAFD;
    --app-12829F: #12829F;
    --app-E1E1F0: #E1E1F0;
    --app-2D2D2D: #2D2D2D;
    --app-D3D3D3: #D3D3D3;
    --app-FFE999: #FFE999;
    --app-FFF8DC: #FFF8DC;
    --app-fbfbfb: #fbfbfb;
    --app-d5e8ef: #d5e8ef;
    --app-b04949: #b04949;
    --app-fecc3f: #fecc3f;
    --app-e6f5f7: #e6f5f7;
    --app-d0e3e9: #d0e3e9;
    --app-f34436: #f34436;
    --app-F8FCFD: #F8FCFD;
    --app-FFEBB2: #FFEBB2;
    --app-FFD7D7: #FFD7D7;
    --app-20B7E8: #20B7E8;
    --app-e3e2e3: #e3e2e3;
    --app-868686: #868686;
    --app-6E6E6E: #6E6E6E;
    --app-BFBFBF: #BFBFBF;
    --app-d9d9d9: #d9d9d9;
    --app-000000: #000000;
    --app-022E3A: #022E3A;
    --app-rgba-255-255-255-015: rgba(255, 255, 255, 0.15);
}